<p><%= @question.question %></p>

<!--<div>-->
<!--  <%#= form_with model: @answer, method: :post do |f| %>-->

<!--    <div>-->
<!--      ラジオボタン-->
<!--    </div>-->
<!--    <div>-->
<!--      <%#= f.label :comment, "理由" %><br>-->
<!--      <%#= f.text_area :comment %>-->
<!--    </div>-->
<!--      <%#= f.submit %>-->
<!--    <%# end %>-->
<!--</div>-->


