<p id="notice"></p>
<div class="container">

  <div class="row">
    <div class="col-md-12">

      <table class="table">
      <% @questions.each do |question| %>
      <tr>
      <td>
      <%= link_to new_question_answers_path(question.id) do %>
        Q.<%= question.question %>
      <% end %>
      </td>
      </tr>
      <% end %>
      </table>

    </div>
  </div>
</div>