<h1>検索結果</h1>
<% if @questions.any? %>
  <h2>質問</h2>
  <ul>
    <% @questions.each do |question| %>
      <li><%= link_to question.question, admin_question_path(question) %></li>
    <% end %>
  </ul>
<% end %>

<!--<%# if @answers.any? %>-->
<!--  <h2>回答</h2>-->
<!--  <ul>-->
<!--    <%# @answers.each do |answer| %>-->
<!--      <li><%#= link_to answer.comment, admin_show_path(question_id: answer.question, choice_id: answer.choice) %></li>-->
<!--    <%# end %>-->
<!--  </ul>-->
<!--<%# end %>-->

<% if @answers.any? %>
  <h2>回答</h2>
  <ul>
    <% @answers.each do |answer| %>
      <li><%= link_to answer.comment, admin_show_path(question_id: answer.question, choice_id: answer.choice, anchor: "search-result") %></li>
      <!--指定したコメントがあるところにスクロールするようにしている。青字-->
    <% end %>
  </ul>
<% end %>





<!--<%# if @choices.any? %>-->
<!--  <h2>選択肢</h2>-->
<!--  <ul>-->
<!--    <%# @choices.each do |choice| %>-->
<!--      <li><%#= link_to choice.choice, admin_question_choice_path(choice.question_id, choice.id) %></li>-->
<!--    <%# end %>-->
<!--  </ul>-->
<!--<%# end %>-->
