admin answers show<br>

<%= @question.question %><br>

<%= @choice.choice %><br>

<% @choices.each do |choice| %>
<p><%= @answers.choice.count %>票</p><br>
<% end %>
<!--？-->
<% @answers.each do |answer| %>

<p><%= @choice.answers.count %>票</p><br>
<%#= @choice.answer.comment %>


<% end %>