<p id="notice"></p>
<div class="container">

  <%= form_with model: [:admin, @question], method: :patch do |f| %>

  <div class="row">
    <%= f.label :question, "Q.", class: "col-md-1 col-form-label" %>
    <div class="col-md-6">
    <%= f.text_field :question, class: "form-control" %>
    </div>
    <div class="col-md-3">
    <%= f.submit "変更", class: "btn btn-success" %>
    </div>
  </div>

  <% end %>