<h1>ユーザー側のトップページで表示する</h1>

<%= form_with model: @image, url:'/admin/images', method: :post do |f| %>


  <h4>画像</h4>
  <%= f.file_field :image, accept: "image/*" %>

  <%= f.submit '投稿' %>

<% end %>